<!DOCTYPE html>

<html>

<head>

<title>ConceptOwl</title>
				
<link id="favicon" rel="shortcut icon" href="img/favicon.ico" sizes="16x16 32x32 48x48" type="image/png">

<link rel="icon" href="img/favicon.ico" sizes="256x256" type="image/png">

<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="manifest" href="manifest.json">

    

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js?v=9.9" defer></script>


 
</head>
<body>

	
<!-- HeaderBar -->
	
<div class="header">
		<div class="row ">
			<div class="col col-50 header-image">
				<a >
				<img src="img/logo_thumbc.png" alt="ConceptOwl">	
				</a>
			</div>
			<div class="col col-50 header-options">
			<ul class="row">											
				<li ><button class="header-login">Log in</button></li>
				<li ><button class="header-signup">Sign up</button></li>	
			</ul>
                        </div>
		</div>
</div>	
		
<!-- /HeaderBar -->

<!-- Coaching Centers -->

<div class="coaching">
	<div class="coaching-caption">
		<div class="option-heading">ConceptOwl For Coaching Centers</div>
		  <p class="option-description">Lower instructor dependencies and focus on delivering real values to students.<br> Specially designed for tier 2/3 coaching centers.</p>
	</div>

	<div class="row coaching-row">
			<div class="col col-50 coaching-col-text1">
				<h3 class="option-content-heading">Great value with minimum instructor support</h3>
      			<p class="option-content-text">We understand the pain of having to rely completely on instructors to deliver a great coaching program. Regardless of where you are located, you now have access to videos of top instructors, designed for NCERT and entrance coverage. No more losing sleep over instructor turnover.</p>
      		</div>
      		<div class="col col-50"><img class="coaching-col-image1" src="img/home_screens.gif "></div>
    </div>

	<div class="row coaching-row">
			<div class="col col-50 "><img class="coaching-col-image2" src="img/home_screens.gif"></div>
			<div class="col col-50 coaching-col-text2">
				<h3 class="option-content-heading">Vast pool of questions and online test series.</h3>
      			<p class="option-content-text">The world is moving online. Are you? Now JEE/NEET exams are being conducted online. So you have to give the students the means to practice. Choose from 100's of tests in our platform, so that students gain the confidence to attend the tests online. </p>
      		</div>
    </div>

    <div class="row coaching-row">
      		<div class="col col-50 coaching-col-text1">
				<h3 class="option-content-heading">Location no longer a constraint</h3>
      			<p class="option-content-text"></p>
      		</div>
      		<div class="col col-50 "><img class="coaching-col-image1" src="img/home_screens.gif"></div>
    </div>

    <div class="row coaching-row">
    		<div class="col col-50 "><img class="coaching-col-image2" src="img/home_screens.gif"></div>
      		<div class="col col-50 coaching-col-text2">
				<h3 class="option-content-heading">Powerful Instructor Dashboard </h3>
      			<p class="option-content-text">You can create your own tests, assign to students,track performance.</p>	
  			</div>
  	</div>
</div>


<!-- /Coaching Centers -->
  

</body>
</html>
