<!DOCTYPE html>

<html>

<head>

<title>ConceptOwl</title>
				
<link id="favicon" rel="shortcut icon" href="img/favicon.ico" sizes="16x16 32x32 48x48" type="image/png">

<link rel="icon" href="img/favicon.ico" sizes="256x256" type="image/png">

<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="manifest" href="manifest.json">

    

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js?v=9.9" defer></script>

</head>				
		
<body>

<!-- HeaderBar -->
	
<div class="header">
		<div class="row ">
			<div class="col col-50 header-image">
				<a >
				<img src="img/logo_thumbc.png" alt="ConceptOwl">	
				</a>
			</div>
			<div class="col col-50 header-options">
			<ul class="row">											
				<li ><button class="header-login">Log in</button></li>
				<li ><button class="header-signup">Sign up</button></li>	
			</ul>
                        </div>
		</div>
</div>	
		
<!-- /HeaderBar -->

<!-- Students -->
<div class="students">
	<div class="option-heading">ConceptOwl For Students</div>
	<div class="row student-row">
		<div class="col col-50 student-column">
			<div class="student-header1">Theory & Videos </div>
			<p class="student-content1"> Access study materials for all topics online and in offline mode. Videos by passionate faculty. You will feel like you are in an extremely interesting classroom.</p>
		</div>
		<div class="col col-50 student-column">
			<div class="student-header2"> Practice Questions</div>
			<p class="student-content2">A vast pool of questions grouped by difficulty level, question pattern, previous year question papers and more. More questions updated regularly. </p>
		</div>
	</div>

	<div class="row student-row">
		<div class="col col-50 student-column" >
			<div class="student-header1">Enforced Learning </div>
			<p class="student-content1">The main advantage of a classroom is enforcement of learning. Our online <b>Gold/Platinum</b> packages are designed just for this.</p>
		</div>
		<div class="col col-50 student-column">
			<div class="student-header2">Online Doubt Solving </div>
			<p class="student-content2">Have doubts? Have them cleared during our regular doubt solving sessions online. </p>
		</div>
	</div>


	<div class="row student-row">
		<div class="col col-50 student-column">
			<div class="student-header1">Online Test Series</div>
			<p class="student-content1">Our online test platform is in the <b>EXACT</b> format as  that prescribed by the CBSE board for JEE/NEET entrance exams. Practice >100 tests online, so that pn the exam day you are confident, calm and poised.</p>
		</div>
		<div class="col col-50 student-column">
			<div class="student-header2">Analytics</div>
			<p class="student-content2">Our analytics tell you how fast/slow you are. A good balance of speed/accuracy is what you need for good results.</p>
		</div>
	</div>

</div>




<!-- /Students -->

	
</body>
</html>
